<div class="container">
  <h3 class="d-flex justify-content-center">Angular15, WebAPI, sql server, App Demo</h3>
  <h5 class="d-flex justify-content-center">BeSpoked Bikes Sales Tracking</h5>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="customers" class="m-1 btn btn-light btn-outline-primary" Button> Customers</button>
      </li>
      <li class="nav-item">
        <button routerLink="products" class="m-1 btn btn-light btn-outline-primary" Button>Products</button>
      </li>
      <li class="nav-item">
        <button routerLink="salesperson" class="m-1 btn btn-light btn-outline-primary" Button>SalesPerson</button>
      </li>
      <li class="nav-item">
        <button routerLink="sales" class="m-1 btn btn-light btn-outline-primary" Button>Sales</button>
      </li>
      <li class="nav-item">
        <button routerLink="quartelyreport" class="m-1 btn btn-light btn-outline-primary" Button>Quarterly Report</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>